@import "tailwindcss";

@theme {
  --font-display: "Syne", sans-serif;
  --font-sans: "Plus Jakarta Sans", sans-serif;
  
  --color-slate-850: #151e2e;
}

body {
  font-family: var(--font-sans);
  background-color: #050505; /* Deep luxury black */
}

h1, h2, h3, h4, h5, h6, .font-display {
  font-family: var(--font-display);
}